{% extends "base.html" %}

{% block content %}
        <h2>Hola {{first_name}} 🎉</h2>
        <p>
            It's so good to have you on board {{first_name}}, thank you for registering with us,
            trust me, we're gonna have a really good time together, keeping you up to date
            with events and making the process as seamless as possible. welcome to the club
            friend.
        </p>
        <p>
            Welcome! Bienvenu! Bienvenida! Benvenuta! Willkommen!
        </p>

        <div class="space"></div>


{% endblock %}
