{% extends "base.html" %}

{% block content %}
    <h2>Forgot Your Password?</h2>
    <p>
        Hi {{first_name}},
    </p>
    <p>
        We got your request to reset your password,
        if this is you, don't worry, we've got you covered,
        please click the button below to reset your password
        or copy the link below and paste in a new tab on your browser.
    </p>

    <p>If you did not initiate this request, please contact us immediately.</p>

    <div class="reset_link">
            {{verification_link}}
    </div>

    <a class="button-link" href="{{verification_link}}">Reset Password</a>
    <div class="space"></div>
{% endblock %}
