aiofiles
amqp
anyio
asgiref
attrs
billiard
celery
certifi
cfgv
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cloudinary
coreapi
coreschema
distlib
dj-database-url
Django
django-rest-framework
djangorestframework
drf-yasg
fastapi
filelock
greenlet
gunicorn
h11
httpcore
httpx
identify
idna
importlib-metadata
inflection
iniconfig
itsdangerous
itypes
Jinja2
kombu
load-dotenv
MarkupSafe
nodeenv
packaging
Pillow
platformdirs
pluggy
pre-commit
prompt-toolkit
pydantic
pymongo
pytesseract
pytest
python-dotenv
python-multipart
pytz
PyYAML
requests
rfc3986
ruamel.yaml
ruamel.yaml.clib
six
sniffio
SQLAlchemy
sqlparse
starlette
typing_extensions
uritemplate
urllib3
uvicorn
vine
virtualenv
wcwidth
Werkzeug
zipp
python-decouple
django-storages
django-cors-headers
django-celery-beat
django-celery-results
rest-framework-simplejwt
djangorestframework-simplejwt
psycopg2-binary
boto3
botocore
drf_yasg
django-redis
whitenoise
