{% extends "base.html" %}


{% block content %}
    <h2>Hi {{first_name}}!</h2>
    <p>
        How's it going? You remembered when you registered for <b>{{event_name}}</b> right?
        Yeah, we wanna let you know that the event is happening <b>{{event_day}}, {{event_date}}</b>, just to remind you.
    </p>

    <p>See ya! 👍</p>
    <hr>

    <p>
        Further information will be provided as at when due, see you around.
    </p>
    <p>
        Event name : <b> {{event_name}}</b> <br/>
        Start date : <b> {{event_date}}</b> <br/>
        Event type : <b> {{event_type}}</b> <br/>
        Location : <b> {{event_location}}</b> <br/>
        {% if event_url %}
            Event URL : <a href="{{event_url}}" >{{event_url}}</a>  <br/>
        {% endif %}
        {% if event_address %}
            Address : {{evenet_address}}
        {% endif %}
    </p>

    {% if rsvp %}
    <p>
        <b>RSVP :</b> {{rsvp}}
    </p>
    {% endif %}

    <div class="space"></div>
{% endblock %}
